<section class="category">
    <nav class="category-nav">
        <ul class="category-list">
            <li class="category-item">
                <a href="#" class="category-link">Catégorie 1</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-link">Catégorie 2</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-link">Catégorie 3</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-link">Catégorie 4</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-link">Catégorie 5</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-link">Catégorie 6</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-link">Catégorie 7</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-link">Catégorie 8</a>
            </li>
            <li class="category-item">
                <a href="#" class="category-link">Catégorie 9</a>
            </li>
        </ul>
    </nav>
</section>
