<div class="footer">

    <div class="content-container">
        <div class="subcontent-container">
            <h3>A PROPOS DU MAUVAISCOIN</h3>
            <div class="separator"></div>
            <a href="#">Qui sommes-nous ?</a>
            <a href="#">Nouveautés</a>
            <a href="#">Nous rejoindre</a>
        </div>
        <div class="subcontent-container">
            <h3>INFORMATIONS LEGALES</h3>
            <div class="separator"></div>
            <a href="#">Conditions générales d'utilisation</a>
            <a href="#">Conditions générales de vente</a>
            <a href="#">Vie privée / cookies</a>
        </div>

        <div class="subcontent-container">
            <h3>NOS SOLUTIONS PRO</h3>
            <div class="separator"></div>
            <a href="#">Publicité</a>
            <a href="#">Vos recrutements</a>
            <a href="#">Annuaire des professionnels</a>
        </div>

        <div class="subcontent-container">
            <h3>DES QUESTIONS ?</h3>
            <div class="separator"></div>
            <a href="#">Aide</a>
            <a href="#">Le paiement sécurisé et la livraison</a>
            <a href="#">Le porte-monnaie</a>
        </div>
    </div>

    <div class="details-container">
        <div class="subdetails-container first">
            <p>lemauvaiscoin © 2025</p>
        </div>
        <div class="subdetails-container">
            <div class="app-icons">
                <a href="#"><img src="assets/images/apple_store.png" alt="App Store"></a>
                <a href="#"><img src="assets/images/play_store.webp" alt="Google Play"></a>
            </div>
        </div>
        <div class="subdetails-container last">
            <span>Retrouvez-nous sur :</span>
            <div class="social-icons">
                <a href="#"><img src="assets/images/linkedin.png" alt="Linkedin"></a>
                <a href="#"><img src="assets/images/x.webp" alt="X"></a>
                <a href="#"><img src="assets/images/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="assets/images/pinterest.png" alt="Pinterest"></a>
            
        </div>
    </div>
</div>
