@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Global application styles */

:root {
  --main-color: #282828;
  --dark-text-color: #152233;
  --accent-color: #EC5A13;
  --secondary-color: #F6AE8B;
  --input-color: #F1F1F1;
  --grey-color: #AAAAAA;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --fav-color: #AD291F;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--white-color);
  line-height: 1.6;
}

h1 {
  font-size: 2.3rem;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--accent-color);

  &:hover {
    font-weight: 800;
  }
}
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  display: inline-block;
  background-color: var(--accent-color);
  color: white;
  padding: 8px 16px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-primary {
  padding: 14px 26px;
  width: 100%;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* form styles */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  label {
    color: var(--white-color);
    margin-bottom: 7px;

    &.required::after {
      content: "*";
      color: red;
      margin-left: 3px;
    }
  }

  &.has-error input {
    border: 2px solid #e74c3c;

    &:focus {
      outline: 2px solid #e74c3c;
    }
  }

  input {
    font-family: "Nunito", sans-serif;
    color: var(--dark-text-color);
    font-size: 1rem;
    padding:12px;
    width: 100%;
    border-radius: 15px;
    border: none;
    background-color: var(--input-color);

    &::placeholder {
      color: var(--grey-color);
    }

    &:focus {
      outline: none;
      border: 2px solid var(--secondary-color);
    }
  }
}

.form-footer {
  font-size: 0.85rem;

}